rclone.conf
*.rclone.conf
*.rclone
.env
.env.*
*.pem
*.key
*.p12
*.pfx
*.crt
*.cert
*.token
*secret*
*secrets*
*password*
*credentials*
.vscode/
.zed/
.qodo/
screenshots-raw/
.gradle/
build/
out/
.idea/
*.iml
node_modules/
*.vsix
.codex
.skia
dist/
